.midocdoc-informes-lista {
    margin: 20px 0;
}

.filter-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter-select,
.filter-input,
.filter-button,
.view-button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

#informes-container {
    display: flex;
    flex-wrap: wrap;
}

.informe-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    width: 100%;
}

.informe-header {
    font-weight: bold;
}

.informe-actions {
    margin-top: 10px;
}

.informe-actions .button-action {
    margin-right: 5px;
}


#informes-container.list-view .informe-item {
    width: 100%; /* Full width for list view */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}